$grid-breakpoints: (
  xs: 0,
  sm: 539px,
  md: 728px,
  lg: 1021px,
  xl: 1300px,
) !default;

$container-max-widths: (
  lg: 1100px,
  xl: 1300px,
) !default;

@import '../bootstrap-4-grid/scss/grid.scss';
@import 'abstracts/mixins';
@import 'base/typography';
@import 'base/utilities';
@import 'components/buttons';
// @import 'layout/header';
@import 'layout/footer';
// @import 'pages/home';
// @import 'pages/about';

:root {
  --light-green: #9dc41c;
  --dark-green: #22964a;
  --light-blue: #088fd5;
  --medium-blue: #0f75aa;
  --dark-blue: #214b65;

  --dark-grey: #6c746f;
  --light-grey: #f0f0f0;

  --font-family: proxima-nova, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  @include responsive(sm-phone) {
    padding: 0 10% !important;
  }
  @include responsive(tab-port) {
    padding: 0 5% !important;
  }
}
body {
  font-family: var(--font-family);
  font-size: 1.8rem;
  font-weight: 400;
}

P {
  padding-bottom: 2rem;
}

.header {
  background: white;
}

.logo {
  width: 300px;
}

img {
  max-width: 100%;
}

figure {
  width: 75%;
  margin: 0 auto;
}

.full-width {
  display: block;
  width: 100% !important;
}

.featured-container {
  padding: 2rem 0;
  justify-content: center;
  @include responsive(xs-phone) {
    justify-content: space-around;
  }
  @include responsive(sm-phone) {
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
  }
  @include responsive(tab-port) {
    width: 65%;
    justify-content: space-between;
  }
  @include responsive(tab-land) {
    width: 70%;
    justify-content: space-around;
  }
  @include responsive(desktop) {
    width: 100%;
    max-width: 140rem;
    justify-content: space-around;
  }
  .featured-group {
    display: flex;
    flex-direction: column;
    width: 22rem;
    @include responsive(tab-land) {
      width: 24rem;
    }
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    .icon-img {
      align-self: start;
      display: block;
      margin: 0 auto;
      width: 8rem;
    }
    p {
      align-self: baseline;
    }
  }
}

.accredition-img {
  text-align: center;
}

.alert {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  background: var(--medium-blue);
  color: var(--light-grey);
  padding: 1.5rem;
  .alert-text {
    display: inline-block;
    @include responsive(sm-phone) {
      width: 90%;
    }
    @include responsive(tab-land) {
      width: 100%;
    }
    span {
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.4px;
    }
  }
}

.section {
  margin: 3rem 0;
  padding: 4rem 0;
  position: relative;
}

.jumbotron {
  background: var(--light-blue);
  color: white;
  width: 90%;
  margin: 0 auto;
  padding: 4rem 3rem;
  box-shadow: 0 5px 20px rgba(108, 116, 111, 0.397);
  border-radius: 5px;
  @include responsive(tab-port) {
    width: 100%;
  }
}

.jumbotron-image {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  margin-bottom: -8rem;

  @include responsive(tab-port) {
    max-width: 100%;
    margin-bottom: -5rem;
  }
}

.h1 {
  font-size: 2.4rem;
  font-weight: 600;
  padding-bottom: 1rem;
  @include responsive(xs-phone) {
    font-size: 3rem;
  }
  @include responsive(lg-desktop) {
    font-size: 3.5rem;
  }
}

.h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--dark-blue);
  @include responsive(tab-land) {
    font-size: 2.8rem;
  }
}

.h4 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.sm-text {
  font-size: 1.3rem;
}

.big-text {
  font-size: 3rem;
  font-weight: 500;
}

ul {
  list-style-type: none;
  list-style: none;
}

li {
  list-style: none;
}
