$grid-breakpoints: (
  xs: 0,
  sm: 539px,
  md: 728px,
  lg: 1021px,
  xl: 1300px,
) !default;

$container-max-widths: (
  lg: 1100px,
  xl: 1300px,
) !default;

$grid-gutter-width: 5rem !default;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    6: (
      $spacer * 4,
    ),
    7: (
      $spacer * 4.5,
    ),
    8: (
      $spacer * 5,
    ),
  ),
  $spacers
);

@import '../bootstrap-4-grid/scss/grid.scss';
@import 'abstracts/mixins';
@import 'base/typography';
@import 'base/utilities';
@import 'components/buttons';
@import 'components/card';
// @import 'layout/header';
@import 'layout/footer';
// @import 'pages/home';
// @import 'pages/about';
@import 'pages/classes';

:root {
  --light-green: #9dc41c;
  --dark-green: #22964a;
  --light-blue: #088fd5;
  --medium-blue: #0f75aa;
  --dark-blue: #214b65;

  --dark-grey: #606863;
  --light-grey: #f0f0f0;

  --font-family: proxima-nova, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  @include responsive(sm-phone) {
    padding: 0 10% !important;
  }
  @include responsive(tab-port) {
    padding: 0 5% !important;
  }
}

.row {
  z-index: 9;
  position: relative;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--dark-grey);
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

P {
  &:not(:last-child) {
    padding-bottom: 2rem;
  }
}

.header {
  background: white;
  padding: 2rem 0;
}

.logo {
  width: 150px;
}

img {
  max-width: 100%;
}

figure {
  margin: 0 auto;
}
main {
  padding: 5rem 0 2rem;
  flex: 1;
  position: relative;
}
.featured-container {
  padding: 2rem 0;
  justify-content: center;
  @include responsive(xs-phone) {
    justify-content: space-around;
  }
  @include responsive(sm-phone) {
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
  }
  @include responsive(tab-port) {
    width: 65%;
    justify-content: space-between;
  }
  @include responsive(tab-land) {
    width: 70%;
    justify-content: space-around;
  }
  @include responsive(desktop) {
    width: 100%;
    max-width: 140rem;
    justify-content: space-around;
  }
  .featured-group {
    display: flex;
    flex-direction: column;
    width: 22rem;
    @include responsive(tab-land) {
      width: 24rem;
    }
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    .icon-img {
      align-self: start;
      display: block;
      margin: 0 auto;
      width: 8rem;
    }
    p {
      align-self: baseline;
    }
  }
}

.accredition-img {
  text-align: center;
}

.alert {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  background: var(--medium-blue);
  color: var(--light-grey);
  padding: 0.5rem;
  .alert-text {
    display: inline-block;
    @include responsive(sm-phone) {
      width: 90%;
    }
    @include responsive(tab-land) {
      width: 100%;
    }
    span {
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.4px;
    }
  }
}

.section {
  margin: 3.5rem 0;
  padding: 2.5rem 0;
  position: relative;
  z-index: 99;
}

.jumbotron {
  background: var(--light-blue);
  color: white;
  width: 90%;
  margin: 0 auto;
  padding: 4rem 3rem;
  box-shadow: 0 5px 20px rgba(108, 116, 111, 0.397);
  border-radius: 5px;
  @include responsive(tab-port) {
    width: 100%;
  }
}

.jumbotron-image {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  margin-bottom: -8rem;

  @include responsive(tab-port) {
    max-width: 100%;
    margin-bottom: -5rem;
  }
}

.h1 {
  font-size: 2.4rem;
  font-weight: 600;
  padding-bottom: 1rem;
  color: var(--medium-blue);
  @include responsive(xs-phone) {
    font-size: 3rem;
  }
  @include responsive(lg-desktop) {
    font-size: 3.5rem;
  }
}

.h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--dark-blue);
  padding-bottom: 2rem;
  @include responsive(tab-land) {
    font-size: 2.8rem;
  }
}
.h3 {
  font-size: 2.1rem;
  font-weight: 400;
  color: var(--medium-blue);
}

.h4 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

b {
  color: var(--dark-blue);
}

.sm-text {
  font-size: 1.3rem;
}

.big-text {
  font-size: 3rem;
  font-weight: 500;
}

ul {
  list-style-type: none;
  list-style: none;
}

li {
  list-style: none;
}

.btn-long {
  background: var(--medium-blue);
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  width: 220px;
  display: block;
  padding: 0.5rem;
  border-radius: 3px;
  &:link,
  &:visited {
    color: white;
    text-decoration: none;

    &:hover {
      background: var(--light-blue);
      transform: translateY(-1.5px);
    }
    &:active {
      transform: translateY(0.75px);
    }
  }
}

.relative {
  position: relative;
}

.abt-img {
  @include responsive(tab-port) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.trainer-profile {
  margin: 3rem;
  padding-bottom: 2rem;
  border-bottom: 0.5px var(--dark-grey) solid;
}
.shape {
  margin: 0 auto;
  img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    width: 25rem;
    height: 25rem;
  }
}

.class-info {
  padding-bottom: 2rem;
}

.class-details {
  padding-bottom: 0.75rem;
  li {
    margin: 0 10px 0 0;
  }
}

.select-class-btn {
  display: inline-block;
  background: none;
  outline: none;
  border: 0;
  color: var(--dark-blue);
  font-weight: 800;
  font-family: inherit; /* 1 */
  font-size: 1.6rem;
  padding: 0 1rem;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  &:hover {
    cursor: pointer;
    color: var(--medium-blue) !important;
  }
  @include responsive(tab-port) {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }
}

.schedule-dropdown {
  display: inline-block;
  position: relative;
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 2rem;
  @include responsive(tab-port) {
    font-size: 1.6rem;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -30px;
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid var(--light-grey);
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  z-index: 99;
  li {
    &:hover {
      color: var(--medium-blue);
      cursor: pointer;
    }
    &:active {
      color: var(--dark-green);
    }
  }
  @include responsive(tab-port) {
    font-size: 1.1rem;
    right: -20px;
  }
}

.show {
  display: block;
}

#schedule-list {
  p {
    font-size: 1.5rem;
  }
}

.schedule-page-bg {
  background: var(--light-grey);
  padding: 2rem;
  font-size: 1.4rem;
  @include responsive(tab-port) {
    background: transparent;
    &:not(:last-child) {
      border-bottom: var(--light-grey) solid 2px;
    }
  }
}

.register-btn {
  background: var(--medium-blue);
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.6rem 0 0.5rem;
  width: 25rem;
  margin: 2rem auto 0;
  display: block;
  border-radius: 3px;

  @include responsive(tab-port) {
    width: 11.5rem;
    font-size: 1.1rem;
    padding: 0.3rem 0 0.2rem;
    margin: 0 auto;
  }
  @include responsive(tab-land) {
    width: 13rem;
  }
  &:link,
  &:visited {
    color: white;
    text-decoration: none;

    &:hover {
      background: var(--light-blue);
      transform: translateY(-1.5px);
    }
    &:active {
      transform: translateY(0.75px);
    }
  }
}

.important {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  color: var(--light-blue);
}

.mobile-map {
  display: block;
  @include responsive(tab-port) {
    display: none;
  }
}

.desktop-map {
  display: none;
  @include responsive(tab-port) {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.content {
  background: white;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  clip-path: polygon(0% 0%, 0% 100%, 65% 100%, 55% 0%);
  top: 0;

  @include responsive(desktop) {
    clip-path: polygon(0% 0%, 0% 100%, 65% 100%, 60% 0%);
  }

  @include responsive(lg-desktop) {
    clip-path: polygon(0% 0%, 0% 100%, 63% 100%, 55% 0%);
  }
}

//Form
form {
  padding: 2rem 0 1rem;
}
label {
  color: var(--medium-blue);
  font-weight: 500;
}

input,
select,
textarea {
  border: 1px solid #b1bab4;
  padding: 0.5rem;
  margin: 0.2rem 0 1rem;
  color: var(--dark-grey);
  border-radius: 3px;
}

input:focus,
textarea:focus {
  border: none;
  outline: 2px solid var(--light-green);
}

select {
  background: #f3f3f3;
}

textarea {
  height: 10rem;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 999;
  width: 28px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  .line {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background: var(--medium-blue);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1),
      opacity 0.3s ease-out;
    &:not(:first-child) {
      margin-top: 5.5px;
    }
  }

  @include responsive(tab-port) {
    display: none;
  }
}

.hamburger:hover .line {
  background: var(--medium-blue);
}

.hamburger.active .line {
  background: white;
  height: 4px;
}
.hamburger.active .top {
  transform: translateY(8px) rotate(-135deg);
}

.hamburger.active .middle {
  opacity: 0;
  transform: translateX(-50%);
}

.hamburger.active .bottom {
  transform: translateY(-11px) rotate(-225deg);
}

#mobile-navigation {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow-y: hidden;
  text-align: center;
  padding-top: 112px;
  background: var(--light-blue);
  z-index: 99;
  transition: all 0.4s ease-in-out;
  transform: translateX(100%);
  .mobile-nav-menu {
    .nav-item {
      padding: 0.5rem;
      a:link,
      a:visited {
        color: white;
        font-weight: 500;
        font-size: 2rem;
        text-decoration: none;
      }
    }
  }

  @include responsive(tab-port) {
    display: none;
  }
}

#mobile-navigation.expand {
  transform: translateX(0);
}

.desktop-navigation {
  display: none;
  @include responsive(tab-port) {
    display: block;
    // flex: 1;
    .desktop-nav-menu {
      position: relative;
      display: flex;
      align-items: center;
      .sub-menu {
        position: absolute;
        display: none;
        z-index: 99;
        background: white;
        padding: 1rem;
        border: 1px solid var(--light-grey);
        .sub-menu-item {
          font-size: 1.4rem;
          font-weight: 300;
        }
      }
      .nav-item {
        font-size: 1.6rem;
        &:not(:last-child) {
          margin-right: 4rem;
        }
        a:link,
        a:visited {
          color: var(--medium-blue);
          text-decoration: none;
          font-weight: 500;
          &:hover {
            color: var(--light-green);
          }
        }
      }
    }
  }
}

.dropdown-nav:hover .sub-menu {
  display: block;
}

.cta {
  a:link,
  a:visited {
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: block;
    font-size: 1.4rem;
    letter-spacing: 0.2px;
    background: var(--light-blue);
    padding: 0.5rem 2rem;
    border-radius: 2px;
    &:hover {
      background: var(--light-green);
    }
  }
}
