html {
  font-size: 50%;
  @include responsive(sm-phone) {
    font-size: 56.25%;
  }
  @include responsive(tab-land) {
    font-size: 62.5%;
  }
  @include responsive(lg-desktop) {
    font-size: 68.75%;
  }
}

body {
  font-family: var(--font-family);
  font-size: 1.8rem;
  font-weight: 400;
}
